*.elc
.cache
.lsp-session-v1
.org-id-locations
.persistent-scratch
.python-environments/
TODO.org
ac-comphist.dat
anaconda-mode/
auto-save-list
bookmarks
company-statistics-cache.el
compiler-explorer
custom.el
el-get
elpa
eshell
games/
ido.last
irony/
network-security.data
org-gcal/
package-quickstart.el
private
projectile-bookmarks.eld
projectile.cache
rake.cache
recentf
request/
savehist
saveplace
smex-items
tramp
transient/
undo
url/
ycmd/